In [25]:
import pandas as pd 
import matplotlib.pyplot as plt
import seaborn as sns

df = pd.read_csv('../data/processed_data/cleaned_df.csv')
df['date'] = pd.to_datetime(df['date'])
df.sort_values(by='date', inplace=True)

In [26]:
df.head()

     customer_id       date  quantity  price
0              1 1997-01-01         1  11.77
802          216 1997-01-01         1  13.97
337           89 1997-01-01         3  47.08
803          217 1997-01-01         2  57.54
808          219 1997-01-01         3  38.51

In [27]:
sales_over_time = df.groupby(df['date'].dt.month_name())['price'].sum().reset_index()
sales_over_time.columns = ['month', 'revenue']
sales_over_time

        month    revenue
0       April  209056.01
1      August   88367.69
2    December   95577.35
3    February  455686.99
4     January  375816.95
5        July  122078.88
6        June  183505.17
7       March  501125.42
8         May  178922.96
9    November  115448.64
10    October   89780.77
11  September   81948.80

In [31]:
type(sales_over_time['month'][0])

str

### Revenue Over Time

In [46]:
figure = plt.figure(figsize=(10, 4))
sns.relplot(data=sales_over_time, kind='line', hue='month')
figure.tight_layout()

ValueError: The following variable cannot be assigned with wide-form data: `hue`