# Cohort Analysis

### Importing data

In [1]:
import pandas as pd
import matplotlib.pyplot as plt

df = pd.read_csv('../data/processed_data/cleaned_df.csv')
df['date'] = pd.to_datetime(df['date'])
df['customer_id'] = df['customer_id'].astype(str)

### Making sure we have only the first purchase date for each customer

In [21]:
df_first_purchase = df.sort_values(['customer_id', 'date']).groupby('customer_id').first().reset_index()
df_first_purchase.head()

  customer_id       date  quantity  price
0           1 1997-01-01         1  11.77
1          10 1997-01-21         3  39.31
2         100 1997-01-01         1  13.77
3        1000 1997-01-20         1   8.99
4       10000 1997-02-06         1  14.37

In [22]:
print('First purchase date -> ', df['date'].min())
print('Last purchase date -> ', df['date'].max())

First purchase date ->  1997-01-01 00:00:00
Last purchase date ->  1998-06-30 00:00:00

### Visualizing all purchases within cohort

In [23]:
price_per_date = df_first_purchase.groupby('date')['price'].sum()
price_per_date = price_per_date.reset_index()

### Visualizing Customer Purchases

### Customer Retention Based On Last Purchases