# Cohort Analysis

### Importing data

In [15]:
import pandas as pd
import matplotlib.pyplot as plt

df = pd.read_csv('../data/processed_data/timeseries.csv')
df['date'] = pd.to_datetime(df.date)

In [16]:
df.head()

,customer_id,date,quantity,price,month,year,dayofweek,day
0,1,1997-01-01,1,11.77,January,1997,2,Wednesday
1,2,1997-01-12,1,12.00,January,1997,6,Sunday
2,2,1997-01-12,5,77.00,January,1997,6,Sunday
3,3,1997-01-02,2,20.76,January,1997,3,Thursday
4,3,1997-03-30,2,20.76,March,1997,6,Sunday

### Making sure we have only the first purchase date for each customer

In [17]:
df_first_purchase = df.sort_values(['customer_id', 'date']).groupby('customer_id').first().reset_index()
df_first_purchase.head()

,customer_id,date,quantity,price,month,year,dayofweek,day
0,1,1997-01-01,1,11.77,January,1997,2,Wednesday
1,2,1997-01-12,1,12.00,January,1997,6,Sunday
2,3,1997-01-02,2,20.76,January,1997,3,Thursday
3,4,1997-01-01,2,29.33,January,1997,2,Wednesday
4,5,1997-01-01,2,29.33,January,1997,2,Wednesday

In [18]:
df_first_purchase.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 23570 entries, 0 to 23569
Data columns (total 8 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   customer_id  23570 non-null  int64
 1   date         23570 non-null  datetime64[ns]
 2   quantity     23570 non-null  int64
 3   price        23570 non-null  float64
 4   month        23570 non-null  object
 5   year         23570 non-null  int64
 6   dayofweek    23570 non-null  int64
 7   day          23570 non-null  object
dtypes: datetime64[ns](1), float64(1), int64(4), object(2)
memory usage: 1.4+ MB

In [12]:
print('First purchase date -> ', df['date'].min())
print('Last purchase date -> ', df['date'].max())

First purchase date ->  1997-01-01
Last purchase date ->  1998-06-30

### Visualizing all purchases within cohort

In [13]:
price_per_date = df_first_purchase.groupby('date')['price'].sum()
price_per_date = price_per_date.reset_index()

### Visualizing Customer Purchases

### Customer Retention Based On Last Purchases